ul{
    list-style-type:none;
}

body{
    font-family: 'Roboto', sans-serif;
    color:#757575;
    background: #F5F5F5;
}

.about-us{
font-weight: 700;
font-size: 36px;
line-height:1.2;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

 